extends layout

block content
    div#testcontrol
        h3 Run tests
        p
            a(href="/") Home

        a#startping(href="#") Latency test
        
        p#ping_results

        a#startthroughput(href='#') Throughput test
        
        p#throughput_results

    div#status
